@import 'src/app/styles/global/_variables.scss';
@import '../styles/global/mixins';

.close {
  color: midnightblue;

  &:hover {
    color: red;
  }
}

.btn-container {
  width: 100%;
  font-size: $carousel-font-size;
  margin-bottom: 7.5%;
  /*line-height: 3;*/
  height: fit-content;
}

.btn-outline-dark {
  display: inline-block;
  width: fit-content;
  font-size: $carousel-font-size;
  line-height: 1.5;
  margin-right: 2.5%;
  height: fit-content;
  z-index: 21;
}

.modal-btn {
  position: absolute;
  right: 0;
}

.modal-address {
  color: $fontcolor;
  font-family: $font-family-sans-serif;
  font-size: $alert-font-size;
}

.row {
  width: 100%;
}



.btn-outline-danger {
  width: fit-content;
  display: inline-block;
  font-size: $carousel-font-size;
  line-height: 1.5;
}

p {
  font-family: $font-family-sans-serif;
  color: $fontcolor;
  font-size: $carousel-font-size;
  margin-bottom: 1.5%;
}

.services {
  display: flex;
  flex-direction: row;
}

.services-modal {
  display: flex;
  flex-direction: column;
  color: $fontcolor;
}

.services-modal-header {
  text-decoration: underline;
  font-size: $beach-title-font-size;
  font-weight: bold;
  font-family: $font-family-sans-serif;
}

.icon {
  background: black;
  border-radius: 2.5px;
  border-style: solid;
  border-width: thin;
  margin-right: 1%;
  margin-bottom: 1%;
  width: $services_background_size; //$services_size//calc(1.5vw + 10px);
}

.description {
  color: $modal-text-color;
  font-family: $font-family-sans-serif;
  font-size: $alert-font-size;
}

.carousel-caption {
/*  position: relative;
  //width:100%;
  //height:1em;

  text-align: center;
  display:inline-block;*/
  font-size: $alert-font-size;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.img-responsive {
  width: 100%;
  height: 100%;

  }

.list-menu-item {
  position: fixed;
}


.modal-img-container {
  height: 100%;
  width: 100%;
}

.modal-img {

}

.card-body {
  justify-content: flex-start;
  margin: 0;
  padding: 0;
}



.ngb-carousel {
  //max-width: 700px;
  //color: $fontcolor;
  font-family: $font-family-sans-serif;
  width: 100%;
  height: 100%;
  background-color: black;
  //border: 10px;
  border-radius: 10px;

}

.wrap-carousel {
  max-width: 800px;
  width: 70vw;
  height: fit-content;

  margin: $components-margin;
/*  margin-left: 15%;
  margin-right: 15%;*/
/*  padding-right: min(25px, 30%);
  padding-left: min(25px, 30%);*/

  text-align:justify;
  font-family: $font-family-sans-serif;
  border: 10px;
  border-radius: 10px;
}

.card-img-top {
  max-height: 500px;
  max-width: 800px;
}

.card {
  /*  left: 50%;
  transform: translate(-50%);*/
  margin: 5% 5% 3.5%;
  background-color: black;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.carousel-inner {
  overflow: visible;
}
.carousel-item {
  display: flex !important;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1.2s ease-in-out, visibility 1.2s;
  z-index: -1;
}
.carousel-item.active{
  opacity: 1;
  visibility: visible;
  z-index: 10;
}
.carousel-control-prev {
  z-index: 20;
}

.carousel-control-next {
  z-index: 20;
}
.carousel-indicators{
  z-index: 20;
}

/* Bottom left text */
.bottom-left {
  position: absolute;
  bottom: 8px;    //
  left: 16px;     // questi vanno dentro una barra sotto l'img

  font-size: $showcase-font-size;
  color: $fontcolor;
  text-shadow: $text-shadow;
}

/* Top left text */
.top-left {
  position: absolute;
  top: 8px;
  left: 16px;

  font-size: $showcase-font-size;
  color: $fontcolor;
  text-shadow: $text-shadow;
}

/* Top right text */
.top-right {
  position: absolute;
  top: 8px;
  right: 16px;

  color: $fontcolor;
  display: inline-flex;
}

fa-icon {
  padding: $services-padding;
  font-size: $services_size;

}

tr {

}


/* Bottom right text */
.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;

  color: $fontcolor;
  text-shadow: $text-shadow;
  font-size: $showcase-font-size;
}

/* Centered text */
/*.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-size: $showcase-font-size;
  color: $fontcolor;
  text-shadow: $text-shadow;
}*/

.btn-outline-dark, .close {
  font-size: $carousel-font-size;
}

agm-map {
  height: calc(50px + 30vh);
}


@media screen and (max-width: 360px) {
  .wrap-carousel {
    width: 90%;
    height: fit-content;
  }

  .card-title, .card-text {
    font-size: calc(2.5px + 3vw);
  }
}

@media screen and (max-width: 412px) and (min-width: 361px) {
  .wrap-carousel {
    width: 90%;
    height: fit-content;
  }

  .card-title, .card-text {
    font-size: calc(2.5px + 3vw);
  }
}

@media screen and (max-width: 810px) and (min-width: 413px) {
  .wrap-carousel {
    width: 90%;
    height: fit-content;
  }

  .card-title, .card-text {
    font-size: calc(2.5px + 3vw);
  }
}

@media screen and (max-width: 1080px) and (min-width: 811px) {
  .wrap-carousel {
    width: 90%;
    height: fit-content;
  }

  .card-title, .card-text {
    font-size: calc(2.5px + 3vw);
  }
}

@media screen and (max-width: 1280px) and (min-width: 1081px) {
  .wrap-carousel {
    width: 75%;
    height: fit-content;
  }

  .card-title, .card-text {
    font-size: calc(2.5px + 3vw);
  }
}


.icon-modal {
  background: black;
  border-radius: 2.5px;
  border-style: solid;
  border-width: thin;
  margin-right: 1%;
  width: $services_background_size; //$services_size//calc(1.5vw + 10px);
}

.modal-pic {
  /*
  width: 50vw;
  min-height: 40vh;

  border-radius: 5px;
  border-style: solid;
  border-width: thin;
  */
  /*
    width: 30%;
    height: 30%;*/
}


.modal-title {
  color: $fontcolor;
  font-size: $beach-title-font-size;
  font-weight: bold;
  font-family: $font-family-sans-serif;
  text-decoration: none;
}

.modal-body {
  font-size: $showcase-font-size;
  background-color: black;
  color: $modal-text-color;
  font-family: $font-family-sans-serif;
}

.modal-header {
  background-color: black;
  color: $modal-text-color;
  font-family: $font-family-sans-serif;
}

.modal-footer {
  background-color: black;
  color: $fontcolor;
  font-family: $font-family-sans-serif;
}



